@charset "UTF-8";
:root {
  --bs-blue: #009ef6;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-purple-100: #632E99;
  --bs-purple-150: #8B4BFA;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #7e8299;
  --bs-gray-dark: #3f4254;
  --bs-gray-100: #f5f8fa;
  --bs-gray-200: #eff2f5;
  --bs-gray-300: #e4e6ef;
  --bs-gray-400: #b5b5c3;
  --bs-gray-500: #a1a5b7;
  --bs-gray-600: #7e8299;
  --bs-gray-700: #5e6278;
  --bs-gray-800: #3f4254;
  --bs-gray-900: #181c32;
  --bs-white: #ffffff;
  --bs-light: #f5f8fa;
  --bs-primary: #009ef7;
  --bs-secondary: #e4e6ef;
  --bs-success: #50cd89;
  --bs-info: #7239ea;
  --bs-warning: #ffc700;
  --bs-danger: #f1416c;
  --bs-dark: #181c32;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 245, 248, 250;
  --bs-primary-rgb: 0, 158, 247;
  --bs-secondary-rgb: 228, 230, 239;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 255, 199, 0;
  --bs-danger-rgb: 241, 65, 108;
  --bs-dark-rgb: 24, 28, 50;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 24, 28, 50;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Sora", sans-serif;
  --bs-gradient: linear-gradient(180deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0));
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: black;
  --bs-body-bg: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif !important;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
  background-color: #F5F1E9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-repeat: repeat;
  z-index: -1;
}
@media screen and (max-width: 700px) {
  body {
    font-size: 0.8rem;
  }
}

body::-webkit-scrollbar {
  width: 0;
  /* Remove horizontal scrollbar */
  height: 0;
  /* Remove vertical scrollbar */
  display: none;
  /* Hide scrollbar */
}

/* Optional: You can add styles for when the scrollbar is in the hover state */
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

/* Class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  /* For Webkit browsers (Chrome, Safari, Opera) */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

main {
  font-family: "Kumbh Sans", sans-serif !important;
}

.main-margin {
  margin-top: 145px;
}
@media screen and (max-width: 700px) {
  .main-margin {
    margin-top: 153px;
  }
}

button {
  font-family: "Kumbh Sans", sans-serif !important;
}

.floating-nav {
  background-color: transparent;
  background-color: #F5F1E9;
  border-bottom: 1px solid #C6C6C6;
  /* Adjust opacity */
  backdrop-filter: blur(6px);
  /* Adjust blur intensity */
  -webkit-backdrop-filter: blur(6px);
  /* For Safari support */
}
@media (max-width: 768px) {
  .floating-nav .hamburger .line {
    background-color: #141414;
  }
}

.nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  border: none;
  transition: all 0.4s ease;
  margin-bottom: 100px;
}

.nav-header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px 0 10px;
  transition: all 0.4s ease;
  z-index: 9999;
}
@media (max-width: 768px) {
  .nav-header {
    padding: 10px 0 0;
  }
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
@media (max-width: 768px) {
  .nav-inner {
    padding: 5px 20px;
  }
}

.logo-container {
  width: 200px;
}
@media (max-width: 768px) {
  .logo-container {
    width: 150px;
  }
}

.nav-links-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-links-container .nav-links {
  display: none;
}
@media (min-width: 1200px) {
  .nav-links-container .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-links-container .nav-links .nav-item {
    position: relative;
    cursor: pointer;
  }
  .nav-links-container .nav-links .nav-item .categories-dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    list-style: none;
    margin: 0;
    z-index: 10;
    display: grid;
    width: 150px;
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu .category {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu .category img {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu .category p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px;
    text-wrap: nowrap;
    transition: all 0.3s;
    color: #6D6D6D;
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu .category p:hover {
    color: #444444;
    font-weight: 400;
  }
  .nav-links-container .nav-links .nav-item .dropdown-menu a {
    padding: 10px 0;
    border-bottom: 1px solid #C6C6C6;
  }
}

.hamburger {
  background-color: transparent;
  border: none;
  display: flex;
  padding: 18px 20px 18px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}
@media screen and (max-width: 1200px) {
  .hamburger {
    display: block;
  }
}
.hamburger span {
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 2px;
  background: black;
  border-radius: 3px;
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}
.hamburger span:nth-child(1) {
  top: 30%;
  transform: translateY(0%);
}
.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3) {
  top: 70%;
  transform: translateY(-100%);
}
.hamburger.active-nav span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger.active-nav span:nth-child(2) {
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
}
.hamburger.active-nav span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.active .hamburger .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.active .hamburger .line2 {
  opacity: 0;
}
.active .hamburger .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.4s ease;
  color: #444444;
}

.mobile-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  left: -100%;
  top: 0px;
  transition: all 0.5s ease;
}
.mobile-menu ul {
  height: 80vh;
  overflow: scroll;
  margin: 100px 0;
  padding: 0;
}
.mobile-menu ul .sub-menu {
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu ul .sub-menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu ul .sub-menu .menu-item p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu ul .sub-menu .menu-item .icon-container {
  color: #141414;
}
.mobile-menu ul .sub-menu ul .sub-menu {
  border-bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0 20px;
}
.mobile-menu ul .sub-menu ul .sub-menu img {
  width: 50px;
  height: 50px;
}
.mobile-menu ul .sub-menu ul .sub-menu p {
  margin: 0;
}
.mobile-menu ul .sub-menu ul .sub-menu .show-all p {
  font-size: 14px;
  color: #141414;
  font-weight: 400;
}
.mobile-menu ul li {
  padding: 10px 20px;
  color: #202020;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.mobile-menu ul .lang-select {
  border: none;
}
.mobile-menu ul .lang-select .MuiFormControl-root {
  width: 100%;
}

.active-mobile-menu {
  transition: all 0.5s ease;
  left: 0;
  bottom: -90px;
  display: block;
}
.active-mobile-menu ul li ul {
  margin-top: 20px;
  height: 100%;
}

.footer-container {
  border-top: 1px solid #C6C6C6;
}
.footer-container .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 50px 0;
}
@media screen and (max-width: 768px) {
  .footer-container .container {
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
  }
}
.footer-container .container .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
  max-width: 400px;
}
@media screen and (max-width: 1500px) {
  .footer-container .container .left {
    max-width: 350px;
    gap: 40px;
  }
}
@media screen and (max-width: 900px) {
  .footer-container .container .left {
    gap: 20px;
  }
}
.footer-container .container .left .company-details {
  max-width: 400px;
}
@media screen and (max-width: 1500px) {
  .footer-container .container .left .company-details {
    max-width: 350px;
  }
}
.footer-container .container .left .company-details .img-container {
  max-width: 220px;
}
@media screen and (max-width: 768px) {
  .footer-container .container .left .company-details .img-container {
    max-width: 180px;
  }
}
.footer-container .container .left .company-details p {
  font-size: 14px;
  line-height: 24px;
  color: #6D6D6D;
  margin: 10px 0;
}
.footer-container .container .left .company-details .social-links {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-container .container .quick-links {
  flex: 2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .footer-container .container .quick-links {
    flex-direction: column;
    gap: 30px;
  }
}
.footer-container .container .quick-links .links .title {
  font-size: 16px;
  color: #141414;
  font-weight: 600;
  margin-bottom: 15px;
  z-index: 0;
}
.footer-container .container .quick-links .links ul {
  /* Set up a CSS Grid that fills columns top-to-bottom */
  display: grid;
  /* Ensure that items fill columns first, top to bottom */
  grid-auto-flow: column;
  /* Create exactly 5 rows in each column, 
     so after 5 items in one column, we start another column */
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  column-gap: 60px;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .footer-container .container .quick-links .links ul {
    row-gap: 10px;
    column-gap: 40px;
  }
}
.footer-container .container .quick-links .links ul li {
  font-size: 14px;
  color: #6D6D6D;
}
.footer-container .container .quick-links .links ul li a {
  font-size: 14px;
  color: #6D6D6D;
}
.footer-container .container .quick-links .links ul li span {
  color: #141414;
  font-weight: 400;
  margin-left: 5px;
}
.footer-container .copyright {
  border-top: 1px solid #C6C6C6;
  color: #6D6D6D;
  padding: 10px 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer-container .copyright {
    padding: 6px 20px;
  }
}
.footer-container .copyright p {
  font-size: 14px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer-container .copyright p {
    font-size: 12px;
  }
}
.footer-container .copyright div {
  display: flex;
  gap: 5px;
}
.footer-container .copyright div a {
  font-size: 14px;
  color: #141414;
}
@media screen and (max-width: 768px) {
  .footer-container .copyright div a {
    font-size: 12px;
  }
}

p {
  font-size: 16px;
  font-family: "Poppins", "San Serif" !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 700px) {
  p {
    font-size: 14px;
  }
}

span {
  font-size: 14px;
  font-family: "Poppins", "San Serif" !important;
  margin: 0;
}
@media screen and (max-width: 700px) {
  span {
    font-size: 12px;
  }
}

.sidenav-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidenav-main-layout {
  height: 100%;
  padding-left: 80px;
  overflow: scroll;
}
@media screen and (max-width: 700px) {
  .sidenav-main-layout {
    padding: 0;
  }
}

.content-wrapper {
  /* //for sidenav apply this style */
  flex: 1;
  background-color: #F5F1E9;
  min-height: 100dvh;
  padding-top: 60px;
}

.content-wrapper::-webkit-scrollbar {
  width: 0;
  /* Remove horizontal scrollbar */
  height: 0;
  /* Remove vertical scrollbar */
  display: none;
  /* Hide scrollbar */
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Change thumb color on hover */
}

.app {
  position: relative;
}

.sidebar {
  position: absolute;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

.app.toggled .sidebar {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.m-0 {
  margin: 0vw !important;
}

@media screen and (max-width: 700px) {
  .m-0 {
    margin: 0vw !important;
  }
}
.m-5 {
  margin: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .m-5 {
    margin: 0.625vw !important;
  }
}
.m-10 {
  margin: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .m-10 {
    margin: 1.25vw !important;
  }
}
.m-15 {
  margin: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .m-15 {
    margin: 1.875vw !important;
  }
}
.m-20 {
  margin: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .m-20 {
    margin: 2.5vw !important;
  }
}
.m-25 {
  margin: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .m-25 {
    margin: 3.125vw !important;
  }
}
.mt-0 {
  margin-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mt-0 {
    margin-top: 0vw !important;
  }
}
.mt-5 {
  margin-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mt-5 {
    margin-top: 0.625vw !important;
  }
}
.mt-10 {
  margin-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mt-10 {
    margin-top: 1.25vw !important;
  }
}
.mt-15 {
  margin-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mt-15 {
    margin-top: 1.875vw !important;
  }
}
.mt-20 {
  margin-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mt-20 {
    margin-top: 2.5vw !important;
  }
}
.mt-25 {
  margin-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mt-25 {
    margin-top: 3.125vw !important;
  }
}
.mb-0 {
  margin-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mb-0 {
    margin-bottom: 0vw !important;
  }
}
.mb-5 {
  margin-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mb-5 {
    margin-bottom: 0.625vw !important;
  }
}
.mb-10 {
  margin-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mb-10 {
    margin-bottom: 1.25vw !important;
  }
}
.mb-15 {
  margin-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mb-15 {
    margin-bottom: 1.875vw !important;
  }
}
.mb-20 {
  margin-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mb-20 {
    margin-bottom: 2.5vw !important;
  }
}
.mb-25 {
  margin-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mb-25 {
    margin-bottom: 3.125vw !important;
  }
}
.mr-0 {
  margin-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .mr-0 {
    margin-right: 0vw !important;
  }
}
.mr-5 {
  margin-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mr-5 {
    margin-right: 0.625vw !important;
  }
}
.mr-10 {
  margin-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mr-10 {
    margin-right: 1.25vw !important;
  }
}
.mr-15 {
  margin-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mr-15 {
    margin-right: 1.875vw !important;
  }
}
.mr-20 {
  margin-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mr-20 {
    margin-right: 2.5vw !important;
  }
}
.mr-25 {
  margin-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mr-25 {
    margin-right: 3.125vw !important;
  }
}
.ml-0 {
  margin-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .ml-0 {
    margin-left: 0vw !important;
  }
}
.ml-5 {
  margin-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .ml-5 {
    margin-left: 0.625vw !important;
  }
}
.ml-10 {
  margin-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .ml-10 {
    margin-left: 1.25vw !important;
  }
}
.ml-15 {
  margin-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .ml-15 {
    margin-left: 1.875vw !important;
  }
}
.ml-20 {
  margin-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .ml-20 {
    margin-left: 2.5vw !important;
  }
}
.ml-25 {
  margin-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .ml-25 {
    margin-left: 3.125vw !important;
  }
}
.mx-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .mx-0 {
    margin: 0vw 0vw !important;
  }
}
.mx-5 {
  margin: 0 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .mx-5 {
    margin: 0vw 0.625vw !important;
  }
}
.mx-10 {
  margin: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .mx-10 {
    margin: 0vw 1.25vw !important;
  }
}
.mx-15 {
  margin: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .mx-15 {
    margin: 0vw 1.875vw !important;
  }
}
.mx-20 {
  margin: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .mx-20 {
    margin: 0vw 2.5vw !important;
  }
}
.mx-25 {
  margin: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .mx-25 {
    margin: 0vw 3.125vw !important;
  }
}
.my-0 {
  margin: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-0 {
    margin: 0vw 0vw !important;
  }
}
.my-5 {
  margin: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-5 {
    margin: 0.625vw 0vw !important;
  }
}
.my-10 {
  margin: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-10 {
    margin: 1.25vw 0vw !important;
  }
}
.my-15 {
  margin: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-15 {
    margin: 1.875vw 0vw !important;
  }
}
.my-20 {
  margin: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-20 {
    margin: 2.5vw 0vw !important;
  }
}
.my-25 {
  margin: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .my-25 {
    margin: 3.125vw 0vw !important;
  }
}
.p-0 {
  padding: 0vw !important;
}

@media screen and (max-width: 700px) {
  .p-0 {
    padding: 0vw !important;
  }
}
.p-5 {
  padding: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .p-5 {
    padding: 0.625vw !important;
  }
}
.p-10 {
  padding: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .p-10 {
    padding: 1.25vw !important;
  }
}
.p-15 {
  padding: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .p-15 {
    padding: 1.875vw !important;
  }
}
.p-20 {
  padding: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .p-20 {
    padding: 2.5vw !important;
  }
}
.p-25 {
  padding: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .p-25 {
    padding: 3.125vw !important;
  }
}
.pt-0 {
  padding-top: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pt-0 {
    padding-top: 0vw !important;
  }
}
.pt-5 {
  padding-top: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pt-5 {
    padding-top: 0.625vw !important;
  }
}
.pt-10 {
  padding-top: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pt-10 {
    padding-top: 1.25vw !important;
  }
}
.pt-15 {
  padding-top: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pt-15 {
    padding-top: 1.875vw !important;
  }
}
.pt-20 {
  padding-top: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pt-20 {
    padding-top: 2.5vw !important;
  }
}
.pt-25 {
  padding-top: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pt-25 {
    padding-top: 3.125vw !important;
  }
}
.pb-0 {
  padding-bottom: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pb-0 {
    padding-bottom: 0vw !important;
  }
}
.pb-5 {
  padding-bottom: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pb-5 {
    padding-bottom: 0.625vw !important;
  }
}
.pb-10 {
  padding-bottom: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pb-10 {
    padding-bottom: 1.25vw !important;
  }
}
.pb-15 {
  padding-bottom: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pb-15 {
    padding-bottom: 1.875vw !important;
  }
}
.pb-20 {
  padding-bottom: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pb-20 {
    padding-bottom: 2.5vw !important;
  }
}
.pb-25 {
  padding-bottom: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pb-25 {
    padding-bottom: 3.125vw !important;
  }
}
.pr-0 {
  padding-right: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pr-0 {
    padding-right: 0vw !important;
  }
}
.pr-5 {
  padding-right: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pr-5 {
    padding-right: 0.625vw !important;
  }
}
.pr-10 {
  padding-right: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pr-10 {
    padding-right: 1.25vw !important;
  }
}
.pr-15 {
  padding-right: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pr-15 {
    padding-right: 1.875vw !important;
  }
}
.pr-20 {
  padding-right: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pr-20 {
    padding-right: 2.5vw !important;
  }
}
.pr-25 {
  padding-right: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pr-25 {
    padding-right: 3.125vw !important;
  }
}
.pl-0 {
  padding-left: 0vw !important;
}

@media screen and (max-width: 700px) {
  .pl-0 {
    padding-left: 0vw !important;
  }
}
.pl-5 {
  padding-left: 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .pl-5 {
    padding-left: 0.625vw !important;
  }
}
.pl-10 {
  padding-left: 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .pl-10 {
    padding-left: 1.25vw !important;
  }
}
.pl-15 {
  padding-left: 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .pl-15 {
    padding-left: 1.875vw !important;
  }
}
.pl-20 {
  padding-left: 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .pl-20 {
    padding-left: 2.5vw !important;
  }
}
.pl-25 {
  padding-left: 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .pl-25 {
    padding-left: 3.125vw !important;
  }
}
.px-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .px-0 {
    padding: 0vw 0vw !important;
  }
}
.px-5 {
  padding: 0vw 0.26042vw !important;
}

@media screen and (max-width: 700px) {
  .px-5 {
    padding: 0vw 0.625vw !important;
  }
}
.px-10 {
  padding: 0vw 0.52083vw !important;
}

@media screen and (max-width: 700px) {
  .px-10 {
    padding: 0vw 1.25vw !important;
  }
}
.px-15 {
  padding: 0vw 0.78125vw !important;
}

@media screen and (max-width: 700px) {
  .px-15 {
    padding: 0vw 1.875vw !important;
  }
}
.px-20 {
  padding: 0vw 1.04167vw !important;
}

@media screen and (max-width: 700px) {
  .px-20 {
    padding: 0vw 2.5vw !important;
  }
}
.px-25 {
  padding: 0vw 1.30208vw !important;
}

@media screen and (max-width: 700px) {
  .px-25 {
    padding: 0vw 3.125vw !important;
  }
}
.py-0 {
  padding: 0vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-0 {
    padding: 0vw 0vw !important;
  }
}
.py-5 {
  padding: 0.26042vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-5 {
    padding: 0.625vw 0vw !important;
  }
}
.py-10 {
  padding: 0.52083vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-10 {
    padding: 1.25vw 0vw !important;
  }
}
.py-15 {
  padding: 0.78125vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-15 {
    padding: 1.875vw 0vw !important;
  }
}
.py-20 {
  padding: 1.04167vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-20 {
    padding: 2.5vw 0vw !important;
  }
}
.py-25 {
  padding: 1.30208vw 0vw !important;
}

@media screen and (max-width: 700px) {
  .py-25 {
    padding: 3.125vw 0vw !important;
  }
}
.text-bold {
  font-weight: bold;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
h1,
.h1 {
  font-family: "Kumbh Sans", sans-serif !important;
}

h3,
.h3 {
  font-size: calc(1.26rem + 0.12vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.35rem;
  }
}
@media (max-width: 700px) {
  .rellax {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1.15rem;
}

h6,
.h6 {
  font-size: 1.075rem;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  color: #444444;
}

.form-style-1 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1.5625vw;
}

.form-style-1 tr th label {
  float: left;
}

.form-style-1 tr td input {
  margin-top: 0.26042vw;
  background-color: #f8f4f4;
  padding: 0.26042vw 0.26042vw;
  border: none;
  border-bottom: 0.05208vw solid black;
  outline: none;
}

.error {
  font-size: 12px;
  color: red;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  -webkit-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 100px !important;
  padding-left: 100px !important;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container-sm,
  .container {
    width: 100%;
    padding-right: 16px !important;
    padding-left: 16px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
.slide-In {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #141414;
  transform-origin: bottom;
  z-index: 10000;
}

.slide-Out {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #141414;
  transform-origin: top;
  z-index: 10000;
}

.initialism {
  font-size: 0.875em;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote > :last-child {
  margin-bottom: 0;
}

.blockquote-footer {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.875em;
  color: #7e8299;
}

.blockquote-footer::before {
  content: "— ";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 1px solid #e4e6ef;
  border-radius: 0.475rem;
  -webkit-box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

.figure {
  display: inline-block;
}

.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.figure-caption {
  font-size: 0.875em;
  color: #7e8299;
}

.text-primary {
  color: #cc1d21;
}

.black-border {
  border: 2px solid black;
  border-radius: 15px;
}

.cursor {
  pointer-events: none;
}

.cursor .cursor__ball--small {
  fill: red;
  top: -4px;
  right: -6px;
}

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  stroke: black;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .cursor {
    display: none;
  }
}

/* The container */
.text-eng {
  text-align: right;
}

.recommendation-container {
  position: relative;
  width: 100%;
}
.recommendation-container .recommendation-group {
  background-color: white;
  border: 2px solid #3268E3;
  width: 100%;
  display: none;
  position: absolute;
  top: 110%;
  overflow-y: auto;
  max-height: 200px;
  border-radius: 5px;
}
.recommendation-container .recommendation-group .close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  content: "";
  padding: 5px 7px;
  cursor: pointer;
}
.recommendation-container .recommendation-group .recommendation {
  padding: 10px;
}
.recommendation-container .recommendation-group .recommendation:hover {
  background-color: #F0F3FF;
  cursor: pointer;
}
.recommendation-container .recommendation-group .help-text {
  font-size: 9px;
  background-color: #F0F3FF;
  position: sticky;
  padding: 2px 5px;
  font-weight: bold;
}

section {
  margin-top: 150px;
  position: relative;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  section {
    margin-top: 60px;
  }
}

.MuiInputBase-root {
  background-color: white;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;
}

.flex {
  display: flex;
  gap: 15px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
}

.screen-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* Styles for previous, next, and break links */
.previousLinkClassName,
.nextLinkClassName,
.breakLinkClassName {
  border-radius: 5px;
  /* Slightly rounded corners for consistency */
}

.swal2-container {
  z-index: 1301;
}

.css-13n6qhj-MuiLinearProgress-root {
  background-color: #D4BEFA !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-width: 500px !important;
}

.css-pwxzbm {
  max-width: 500px !important;
}

.css-1ty026z {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 20px 24px;
  background: rgba(232, 144, 112, 0.04);
  margin-top: 10px;
  border: 1px solid coral;
}

.scrollable-table-container {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.error-text {
  font-size: 0.75rem;
  color: red;
  padding: 4px 15px 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icon-container {
  height: 24px;
  width: 24px;
}
.icon-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contact-container {
  margin: 40px 0;
}
@media screen and (max-width: 768px) {
  .contact-container {
    margin: 20px 0;
  }
}
.contact-container .title {
  max-width: 540px;
}

.profile-title {
  border-bottom: 1px solid #141414;
}
.profile-title h1 {
  font-size: 48px;
  color: #141414;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .profile-title h1 {
    font-size: 32px;
  }
}
@media screen and (min-width: 100px) and (max-width: 750px) {
  .profile-title h1 {
    font-size: 24px;
  }
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 400px !important;
}

.swal2-html-container {
  padding: 0 !important;
  max-width: 555px !important;
}

.success-alert {
  text-align: center;
  padding: 65px 0;
}

.failed-alert {
  text-align: center;
  padding: 70px 90px;
}

.success-icon {
  margin-bottom: 30px;
}

.failed-icon {
  margin-bottom: 28px;
  padding-left: 25px !important;
}

h2 {
  color: #141414;
  font-size: 24px;
  margin-bottom: 10px;
}

.view-products-link {
  color: #141414;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline !important;
}

.alert-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.price-range-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price-range-labels span {
  font-size: 16px;
  color: #141414;
  font-weight: 500;
}

.team-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.team-container .team {
  padding: 10px;
  border: 1px solid #141414;
  border-radius: 10px;
  max-width: 250px;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .team-container .team {
    max-width: unset;
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .team-container .team {
    max-width: unset;
    width: 100%;
  }
}
.team-container .team .img-container {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 300px) and (max-width: 480px) {
  .team-container .team .img-container {
    height: 400px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .team-container .team .img-container {
    height: 400px;
  }
}
.team-container .team .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team-container .team .name {
  font-size: 20px;
  font-weight: 600;
}

.audit-container h1 {
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 0;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .table-container {
    overflow-x: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .table-container {
    overflow-x: auto;
  }
}
.table-container table {
  border-collapse: collapse;
}
.table-container table th {
  padding: 20px;
  text-align: left;
}
.table-container table td {
  padding: 20px;
  border-bottom: 1px solid #141414;
}
.table-container table td .icon-container {
  height: 30px;
  width: 30px;
}
.table-container table td .icon-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.no-products-found {
  padding: 10rem 0;
  text-align: center;
}
@media screen and (min-width: 100px) and (max-width: 480px) {
  .no-products-found {
    padding: 0;
  }
}

.product-slider {
  flex: 1;
}
.product-slider .swiper-slide {
  width: 100% !important;
}
.product-slider .swiper-wrapper {
  width: 310px;
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .product-slider .swiper-wrapper {
    width: 260px;
  }
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.animated-title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  /* Equivalent to gap-1 */
  font-size: 60px;
  /* Equivalent to text-7xl (72px) */
  text-transform: uppercase;
  line-height: 0.8;
  color: white;
}
@media screen and (max-width: 1088px) {
  .animated-title {
    font-size: 42px;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .animated-title {
    font-size: 32px;
    width: 80%;
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}

.animated-word {
  font-family: "Poppins", sans-serif;
  /* Replace with actual font */
  font-weight: 400;
  /* Equivalent to font-black */
  opacity: 0;
  transform: translate3d(10px, 1px, -60px) rotateY(-60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px !important;
  will-change: opacity, transform;
}

.animated-word-right {
  font-family: "Poppins", sans-serif;
  /* Replace with actual font */
  font-weight: 400;
  /* Equivalent to font-black */
  opacity: 0;
  transform: translate3d(10px, 1px, -60px) rotateY(60deg) rotateX(-40deg);
  transform-origin: 50% 50% -150px !important;
  will-change: opacity, transform;
}

@keyframes shine {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -70%;
  }
}
.white-shine {
  -webkit-mask-image: linear-gradient(95deg, rgba(0, 0, 0, 0.7) 30%, #000 50%, rgba(0, 0, 0, 0.7) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2.5s linear infinite;
}

.page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75dvh;
}
.page-not-found h2 {
  font-size: 5dvw;
  font-weight: 500;
  color: lightgray;
  margin: 0 0 100px;
}
@media screen and (max-width: 768px) {
  .page-not-found h2 {
    font-size: 8dvw;
  }
}

.Toastify {
  margin: 0 !important;
}

.wolfx-badge {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #000;
  border-radius: 16px;
  max-width: 280px;
}
@media screen and (max-width: 900px) {
  .wolfx-badge {
    max-width: 220px;
  }
}
.wolfx-badge svg {
  width: 50px;
}
.wolfx-badge p {
  font-size: 16px;
  color: white;
  line-height: 24px;
}
@media screen and (max-width: 900px) {
  .wolfx-badge p {
    font-size: 12px;
    line-height: 16px;
  }
}